{% extends 'base.html.twig' %}

{% block title %}O'cars{% endblock %}

{% block body %}
  
  <section class="home-hero mb-4 ">
  <div class="home-hero-inner space-top space-bottom">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <div class="title">
            <h1 class="white-text mb-4 p-8" style="font-size: 40px;">
              The <span class="yellow-text">smart way </span> <br>
              to sell or to buy your car
            </h1>
            
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="home-hero-bottom d-none d-lg-block"></div>
 
</section>
</section> 

     <div class="container my-4">  
        <h2>Welcome to AdMinistration of O'cars</h2>
        <h2>Recently Posted Car annonces</h2>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">model</th>
                    <th scope="col">year</th>
                    <th scope="col">Brand</th>
                    
                     <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
              {% for car in cars %}  
                <tr>
                    <th scope="row">{{car.id}}</th>
                    <td>{{car.model}}</td>
                    <td>{{car.releaseYear|date('Y')}}</td>
                    <td>{{car.brands.name}}</td>
                   
                    <td class="text-end">
                     <a href="{{path('backoffice_car_detail',{id:car.id})}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">Details</i>
                        </a>
                        
                         <a href="{{path('backoffice_app_car_edit',{id:car.id})}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i>
                        </a>
                         <a href="{{path('backoffice_app_car_delete',{id:car.id})}}" class="btn btn-sm btn-danger">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">Delete</i>
                        </a>
                       
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
       </div>
       </section>
</main>
{% endblock %}
