{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<section class="home-hero mb-4 ">
      <div class="home-hero-inner space-top space-bottom">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-6">
              <div class="title">
                <h1 class="white-text mb-4 p-8" style="font-size: 40px;">
                  <span class="yellow-text">User-List</span> <br>
                  
                </h1>
                
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="home-hero-bottom d-none d-lg-block"></div>
     
    </section>
    </section> 
               <section class="brands-list space-top space-bottom ">
        <div class="container">
            
                <div class="row">
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FullName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.fullName }}</td>
                <td>
                    <a class="btn" href="{{ path('backoffice_app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn" href="{{ path('backoffice_app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('backoffice_app_user_new') }}">Create new</a>
     </div>
       </div>
       </section>
</main>
{% endblock %}
