{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Add a car</h1>

    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.model) }}
    {{ form_row(form.releaseYear) }}
    {{ form_row(form.brands) }}
    <button class="btn btn-primary">Add</button>
{{ form_end(form) }}
   
    
    
   
</div>
{% endblock %}


{% block title %}
Add a casting
{% endblock %}