{% extends 'base.html.twig' %}

{% block title %}O'cars{% endblock %}

{% block body %}

<section class="home-hero mb-4 ">
      <div class="home-hero-inner space-top space-bottom">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-6">
              <div class="title">
                <h1 class="white-text mb-4 p-8" style="font-size: 40px;">
                  <span class="yellow-text">DETAILS OF {{cars.model}}</span> <br>
                  
                </h1>
                
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="home-hero-bottom d-none d-lg-block"></div>
     
    </section>
    </section> 




    <section class="Car-detail space-top space-bottom ">
        <div class="container">
                        <div class="wrapper row">
                            <div class="preview col-md-5">
                               
                                  <div class="tab-pane active" id="pic-1"><img src="{{ asset('/uploads/'~ cars.image) }}" alt="{{cars.model}}" /></div>
                                  <button class="btn" id="viewdetail">View Owner Details</button>
                            </div>
                            <div class="details col-md-6">
                                <h6 class="car-title">Model:{{cars.model}}</h6>
                                <h6 class="car-title">Release-Year:{{cars.releaseYear|date('Y')}}</h6>
                                <h6 class="car-title">Type:{{cars.type}}</h6>
                                <h6 class="car-title">Brand:{{cars.brands.name}}</h6>
                                <h6 class="car-title">Seats:{{cars.seats}}</h6>
                                <h6 class="car-title">Message:</h6>
                                <p class="message">Suspendisse quos? </p>
                                <h6 class="price">current price: <span>{{cars.price}}</span></h6>
                                <div>
                                   
                                    <a href="#" class="btn btn-lg btn-outline-dark btn-Cars-left"><i class="fa">Add to wish list</i></a>
                                </div>
                               
                                <div class="Cars-button m-4">
                                {% if is_granted('CAR_EDIT', cars) %} 
                                    <a href="{{path('cars_edit',{id:cars.id})}}" class="btn btn-outline-dark btn-Cars-left"><i class="fa">Modify</i></a>
                                   {% endif %}  
                                   {% if is_granted('CAR_DELETE',cars) %}
                                    <a href="{{path('cars_delete',{id:cars.id})}}" class="btn btn-outline-dark btn-Cars-left"><i class="fa">Delete</i></a>
                                    {% endif %}
                                  </div>
                            </div>
                            <div  class="canview">
                           
                                <h6 class="car-title">Owner Name:{{cars.user.fullName}}</h6>
                                <h6 class="car-title">email:{{cars.user.email}}</h6>
                                <h6 class="car-title">Mobile:</h6>
                               
                            </div>
                
            </div>
       </div>
       </section>
</main>
 
{% endblock %}

 