  

    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.model) }}
    {{ form_row(form.releaseYear) }}
    {{ form_row(form.brands) }}
    {{ form_row(form.type) }}
    {{ form_row(form.fuelType) }}
    {{ form_row(form.price) }}
    {{ form_row(form.otherSpec) }}
    {{ form_row(form.seats) }}
    {{ form_row(form.imageFile) }}
     <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
   